In [1]:
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import gmaps
import requests
import os
from config import key_dict
from pprint import pprint

gkey = key_dict['maps']

In [2]:
cities = "../output_data/cities.csv"
cities = pd.read_csv(cities)
cities

,City_ID,City,Country,Lat,Lng,Max Temp,% Humidity,Cloudiness,Wind Speed
0,0,Toowoomba,AU,-27.5500,151.9667,294.15,83,40,4.63
1,1,Victor Harbor,AU,-35.5667,138.6167,292.59,73,35,2.75
2,2,Formosa do Rio Preto,BR,-11.0483,-45.1931,298.57,79,100,1.95
3,3,Kapaa,US,22.0752,-159.3190,293.15,83,90,8.75
4,4,Arman',RU,59.7000,150.1667,256.35,78,0,1.44
...,...,...,...,...,...,...,...,...,...
578,578,Sinnamary,GF,5.3833,-52.9500,299.72,78,42,4.00
579,579,Shitanjing,CN,39.2342,106.3439,270.00,26,0,4.84
580,580,Jiaocheng,CN,24.6774,116.1389,293.26,80,4,1.80
581,581,Trairi,BR,-3.2778,-39.2689,303.80,60,2,3.63
582,582,Half Moon Bay,US,37.4636,-122.4286,282.59,87,75,3.09

In [3]:
gmaps.configure(api_key=gkey)

In [14]:
locations = cities[['Lat', 'Lng']].astype(float)
humidity = cities['% Humidity'].astype(float)

figure_layout = {"width": "600px", "height": "400px"}

fig = gmaps.figure(layout=figure_layout)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=humidity.max(), point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='400px', width='600px'))

In [16]:
good_temp = cities['Max Temp'].between(292,303,inclusive=True)
good_humidity = cities['% Humidity'] < 85
clouds = cities['Cloudiness'].between(0,20,inclusive=True)
wind = cities['Wind Speed'] < 10
good_weather = cities[good_temp & good_humidity & clouds & wind] 
good_weather.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,% Humidity,Cloudiness,Wind Speed
9,9,Pochutla,MX,15.7432,-96.4661,298.71,61,1,0.32
34,34,Cidreira,BR,-30.1811,-50.2056,298.39,71,0,8.32
45,45,Mahibadhoo,MV,3.7833,72.9667,301.51,67,1,3.23
49,49,Mouzourás,GR,35.5333,24.1500,294.15,64,0,2.57
52,52,Chui,UY,-33.6971,-53.4616,299.16,70,16,5.55
54,54,Busselton,AU,-33.6500,115.3333,295.93,73,0,3.58
68,68,Ca Mau,VN,9.1769,105.1500,298.68,82,3,1.86
81,81,Puerto Ayora,EC,-0.7393,-90.3518,301.15,78,20,3.09
84,84,Carnarvon,AU,-24.8667,113.6333,300.15,83,0,4.12
100,100,West Bay,KY,19.3667,-81.4167,301.15,69,20,2.06

In [18]:
df_hotel = good_weather.copy()

df_hotel["Hotel"] = ""
df_hotel

,City_ID,City,Country,Lat,Lng,Max Temp,% Humidity,Cloudiness,Wind Speed,Hotel
9,9,Pochutla,MX,15.7432,-96.4661,298.71,61,1,0.32,
34,34,Cidreira,BR,-30.1811,-50.2056,298.39,71,0,8.32,
45,45,Mahibadhoo,MV,3.7833,72.9667,301.51,67,1,3.23,
49,49,Mouzourás,GR,35.5333,24.1500,294.15,64,0,2.57,
52,52,Chui,UY,-33.6971,-53.4616,299.16,70,16,5.55,
...,...,...,...,...,...,...,...,...,...,...
512,512,Moa,CU,20.6569,-74.9403,299.69,68,11,3.07,
530,530,Talara,PE,-4.5772,-81.2719,300.15,61,0,8.23,
535,535,Curvelo,BR,-18.7564,-44.4308,299.93,58,0,3.29,
558,558,Bachaquero,VE,9.9694,-71.1494,301.53,60,9,2.38,
580,580,Jiaocheng,CN,24.6774,116.1389,293.26,80,4,1.80,

In [19]:
url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
params = {
    'radius': 5000,
    'type': 'hotel',
    'key': gkey
}



for index, row in df_hotel.iterrows():
    
    #Get locations from dataframe
    Lat = row['Lat'] 
    Lng = row['Lng']
    location = f'{Lat},{Lng}'
    params['location']=location
    
    response = requests.get(url,params=params).json()
   
    results = response['results']
    
    try:
        
        print(f"The hotel name is {results[1]['name']}.")
        
        df_hotel.loc[index, 'Hotel Name'] = results[1]['name']
        
    except (KeyError, IndexError):
        print("No hotel found")

The hotel name is Hotel Posada San Jose.
The hotel name is Diego Imóveis.
The hotel name is Omadhoo Power House.
The hotel name is Areti Suites.
The hotel name is Nuevo Hotel Plaza.
The hotel name is Observatory Guest House.
The hotel name is Khách Sạn Mường Thanh Luxury Cà Mau.
The hotel name is Finch Bay Galapagos Hotel.
The hotel name is Hospitality Carnarvon.
The hotel name is Calypso Cove.
The hotel name is Pousada Porto Praia.
The hotel name is Issste.
The hotel name is Tu Casa.
The hotel name is Hotel Ilha do Amor.
The hotel name is Hotel San Isidro Oficial.
The hotel name is Councilors' Maneaba.
The hotel name is شركة السنابل لبيع المعدات والاجهزة الإلكترونية سلوق.
The hotel name is Hotel Wixel.
The hotel name is صراف الإنماء.
The hotel name is CREA MG-Conselho Regional de Engenharia Arquitetura e Agronomia de MG.
The hotel name is Atlantis Hotel.
The hotel name is Internet y Compuaccesorios "Fastnet".
The hotel name is Sparsa.
The hotel name is Mini Hotel Central.
The hotel name is Hotel y Casino del Río General Roca.
The hotel name is HS Hotsson Smart Acapulco.
The hotel name is Hilton Durban.
The hotel name is Pekan Budget Hotel.
The hotel name is ATM BNI SPBU BIAK.
The hotel name is Câmara Municipal de Óbidos.
The hotel name is LT Aparthotel.
The hotel name is Hotel Provincial.
The hotel name is Hotel Cristal.
The hotel name is Cozumel Palace® All Inclusive Resort.
The hotel name is Stellar Lodge & Champs Sports Bar.
The hotel name is Ashok Leyland Limited.
The hotel name is Click N Browse Internet Cafe, Sukbhir Bhawan, Tura.
The hotel name is Veranda Paul et Virginie Hotel & Spa.
The hotel name is Broadwater Mariner Resort.
The hotel name is Adarsh jwelars.
The hotel name is PRIMAX service station - Chilca.
The hotel name is HAMDAN PLAZA HOTEL SALALAH.
The hotel name is District coordination Committee Sarlahi.
The hotel name is Fakhamat Al Orjoana Apartment.
The hotel name is All India Radio Kavaratti.
The hotel name is Hotel Quinta Antigua.
The hotel name is Pavilhão Welwitschia Mirabilis.
The hotel name is ASTON Denpasar Hotel & Convention Center.
The hotel name is Crôa Mares Hotel.
The hotel name is Aroroy Municipal Hall.
The hotel name is Oyster Box Guesthouse.
The hotel name is The Passage Samui Villas & Resort, Thailand.
The hotel name is Petron.
The hotel name is Hospitality Esperance.
The hotel name is State Bank Of India.
The hotel name is Rufino G. Palabrica Sr. National High School.
The hotel name is Iglesia Cristiana Pentecostal de Cuba.
The hotel name is Elektra.
The hotel name is Pontal Plaza Hotel.
The hotel name is Sumicom.
The hotel name is Jiaoling Bureau Of Sports.